{:paths   ["src"]
 :deps    {io.pedestal/pedestal.service {:mvn/version "0.7.2"}}
 :aliases {:dev         {:extra-paths ["dev" "test"]
                         :jvm-opts    ["-Dclojure.core.async.go-checking=true"
                                       "-XX:-OmitStackTraceInFastThrow"
                                       "-Dclojure.main.report=stderr"]
                         :extra-deps  {clj-http/clj-http                    {:mvn/version "3.13.0"}
                                       clj-kondo/clj-kondo                  {:mvn/version "2024.11.14"}
                                       io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                                             :git/sha "dfb30dd"}
                                       io.pedestal/pedestal.jetty           {:mvn/version "0.7.2"}
                                       org.clojure/clojure                  {:mvn/version "1.12.0"}
                                       org.clojure/core.async               {:mvn/version "1.6.681"}
                                       org.slf4j/slf4j-simple               {:mvn/version "2.0.16"}}}
           :kondo       {:main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
           :test-runner {:main-opts ["-m" "cognitect.test-runner"]}}}
